html{
	   scroll-behavior: smooth;
	}
body{
		background-repeat: round;
	}
header,footer{
		    	
		background-repeat: round;
		background-color: rgba(147,112,219);
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		font-weight: bolder;
		
	}
.menu-opcoes{
		text-align: center;
	}
.fixo{
		top:0;
		right:0;
		left:0;
		z-index:1030;
	}
.ajustes li:hover{
		background-color:	#D8BFD8;
		
		
	}
.container{

		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
/*tela menor que 599px */	
@media screen and (max-width: 599px){
	.container{
		margin-top:65%;			
	}
	}
	/*tela maior que 600px */	
@media screen and (min-width:600px){
	.container{
		margin-top:40%;				
	}
	}

		/*telas maiores que 768px */
@media screen and (min-width:768px) {
		.container{
		margin-top:15%;	}

header{
			background-color:#9370DB;
			flex-direction: row;
			position:absolute;
			height: 80px;
		}
.menu-opcoes{

			position: absolute;
			right: 45%;
			top:40%;
		}
.menu-opcoes ul li{

			display: inline;
			margin-left: 5px; 
			
		}
.imglogo{

			position: absolute;
			top:8px;
			left: 2%;
		}
h3{

		font-size: 2em;
		font-family: 'Antic Slab', serif;

	}
h2{
		font-size: 1.5em;
		font-family: 'Alfa Slab One', cursive;
	}
.imgtexto {

				border: 5px dashed:#000000;
				width: 60%;


			}
.listastexto{

			
			color:#9370DB;
			font-weight: bolder;
			margin-top: 1%;
			margin-bottom: 1%;
			font-size: 1em;
			

			}
p{

		
		font-weight: bolder;
		font-size: 1.2em;
		text-align: justify;
		margin-top: 1.5%;
		margin-bottom: 1.5%;


		}



